{{#if resume.awards.length}}
<section id="awards">
	<p class="cross-heading">Awards</p>
	{{#each resume.awards}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if title}}
			<div class="title">
				<strong>{{title}}</strong>
			</div>
			{{/if}}
			{{> singleDate}}
			{{#if awarder}}
			<div class="awarder">
				{{awarder}}
			</div>
			{{/if}}
		</div>
		<div class="full-section">
			{{#if summary}}
			<div class="summary">
				<p>{{summary}}</p>
			</div>
			{{/if}}
		</div>
	</div>
	{{/each}}
</section>
{{/if}}
