{{#if obj.startDate}}
  <div class="date">
    <icon class="fa fa-calendar" aria-hidden="true"></icon>
    <strong>{{durationOf obj}}</strong> <em>Started {{shortDate obj.startDate}}</em>
  </div>
{{/if}}
