{{#if resume.interests.length}}
<section id="interests">
	<p class="cross-heading">Interests</p>
	{{#each resume.interests}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if name}}
			<div class="name">
				{{name}}
			</div>
			{{/if}}
		</div>
		{{#if keywords.length}}
			<div class="full-section">
				{{> keywords}}
			</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
