{{#if resume.interests.length}}
<section id="interests">
	{{> cross-heading title="Interests"}}
	{{#each resume.interests}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if name}}
			<div class="title">
				{{name}}
			</div>
			{{/if}}
		</div>
		{{#if keywords.length}}
			<div class="full-section">
				{{> keywords}}
			</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
