{{#if resume.references.length}}
<section id="references">
	<p class="cross-heading">References</p>
	{{#each resume.references}}
	<div class="item">
		{{#if reference}}
		<blockquote class="reference">
			{{reference}}
			{{#if name}}
			<strong> — {{name}}</strong>
			{{/if}}
		</blockquote>
		{{else}}
			{{#if name}}
			<strong>{{name}}</strong>
			{{/if}}
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
