{{#if resume.skills.length}}
<section id="skills">
	<p class="cross-heading">Skills</p>
	{{#each resume.skills}}
	<div class="item section-container">
		<div class="summary-section">
			{{#if name}}
			<div class="skill-name">
				{{name}}
			</div>
			{{/if}}
			{{#if level}}
			<div class="level">
				<em>{{level}}</em>
			</div>
			{{/if}}
		</div>
		{{#if keywords.length}}
		<div class="full-section">
			<ul class="keywords">
				{{#each keywords}}
				<li>{{.}}</li>
				{{/each}}
			</ul>
			</div>
		{{/if}}
	</div>
	{{/each}}
</section>
{{/if}}
