<!doctype html>
<html>
	<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<style>
	{{{css}}}
	</style>

	</head>
	<body>

	<div class=".container-fluid">
		<div id="header-container" class="col-xs-10 col-md-9">
			<div id="header">
				{{> header}}
			</div>
		</div>

		<div id="resume" class="col-xs-10 col-md-9">
			{{> basics }}
			{{> work }}
			{{> volunteer }}
			{{> projects }}
			{{> education }}
			{{> awards }}
			{{> publications }}
			{{> skills }}
			{{> languages }}
			{{> interests }}
			{{> references }}
		</div>
	</div>

	<div id="footer">
		<em>Generated using <a href="https://jsonresume.org/">JSON Resume</a></em>
	</div>
	</body>

	<script>
		var HOVER_ACTIVATE_TIME = 750;
		var SHOW_FULL_SECTION = false;

		var otherSlidingDownTimeout = null;
		revealSection = function(activateTimeout) {
			$(this).addClass("section-container-hover");

			if (otherSlidingDownTimeout === null) {
				var $fullSection = $(this).children(".full-section");
				otherSlidingDownTimeout = window.setTimeout(function() {
					$fullSection.slideDown("med", function() {
						window.clearTimeout(otherSlidingDownTimeout);
						otherSlidingDownTimeout = null;
					});
				}, activateTimeout);
			} else {
				window.clearTimeout(otherSlidingDownTimeout);
				otherSlidingDownTimeout = null;
			}
		}

		hideSection = function() {
			$(this).removeClass("section-container-hover");

			$(this).children(".full-section").slideUp("med");
			window.clearTimeout(otherSlidingDownTimeout);
			otherSlidingDownTimeout = null;
		}

		if (!SHOW_FULL_SECTION) {
			$(".full-section").hide();
			$(".summary-section").show();

			// desktop reveal method
			$(".section-container").hover(function() {
				revealSection.apply(this, [HOVER_ACTIVATE_TIME]);
			}, hideSection);

			// mobile reveal method
			$(".section-container").on("blur", hideSection);
			$(".section-container").on("click", function() {
				// blur all those EXCEPT this one
				var current = $(this);
				$(".section-container").filter(function() {
					return !$(this).is(current);
				}).blur();

				revealSection.apply(this, [0]);
			});

		} else {
			$(".full-section").show();
			$(".summary-section").show();
		}

	</script>
</html>
